<div class="apartment-edit">
  <div class="menu">
    <ul>
      <li><a ui-sref="apartmentsIndex({buildingId: vm.apartment.building_id})">Back to apartments</a></li>
    </ul>
  </div>

  <div class="article">
    <div class="title">
      <h2>EDIT APARTMENT</h2>
    </div>

    <div class="error" ng-show="vm.error">
      <h3>Apartment validation failed!</h3>

      <ul ng-repeat="(key, value) in vm.error">
        <li class="key">{{key}}:</li>
        <ul>
          <li class="value" ng-repeat="error in value">{{error}}</li>
        </ul>
      </ul>
    </div>

    <div class="content">
      <div class="form">
        <form>
          <div class="row">
            <label for="unit">Unit</label>
            <input type="text" id="unit" ng-model="vm.apartment.unit" readonly>
          </div>

          <div class="row">
            <label for="rooms">Rooms</label>
            <input type="text" id="rooms" ng-model="vm.apartment.rooms" readonly>
          </div>

          <div class="row">
            <label for="rent">Rent</label>
            <input type="text" id="rent" ng-model="vm.apartment.rent">
          </div>

          <div class="row">
            <button type="button" ng-click="vm.update()">Update apartment</button>
          </div>
        </form>
      </div>
    </div>

    <div class="back">
      <a ui-sref="apartmentsIndex({buildingId: vm.apartment.building_id})">&larr; Back to apartments</a>
    </div>
  </div>
</div>
